<div id="<%= dom_id comment %>" class="py-2 border-b">
  <div class="flex w-full">
    <span class="font-bold"><%= comment.user %></span>
    <span class="ml-auto text-gray-500"><%= comment.created_at.to_date %></span>
  </div>
  <div class="my-4">
    <%= simple_format comment.comment %>
  </div>
</div>
