<div class="recipe box py-1 border-b">
  <% if recipe.cover_image.attached? %>
    <div>
      <%= image_tag recipe.cover_image.variant(:thumb) %>
    </div>
  <% end %>
  <div>
    <%= link_to recipe, data: { turbo_frame: "_top" } do %>
      <%= highlight recipe.name, @keyword %>
    <% end %>
  </div>
</div>
