<div class="my-4">
  <%= render "recipes/breadcrumbs", recipe: nil %>
</div>

<div class="my-4">
  <%= link_to "New Recipe", :new_recipe, class: "btn btn--primary" %>
</div>

<%= render @recipes %>


