<div class="flex items-center my-1">
	<span class="mr-2">
		<%= ingredient.quantity %>
		<%= ingredient.unit %>
	</span>
	<span class="mr-2">
		<%= link_to ingredient.name, items_path(q: ingredient.name) %>
	</span>
</div>