<%= turbo_frame_tag ingredient do %>
  <div class="flex items-center my-1">
    <span class="mr-2">
      <%= ingredient.quantity %>
      <%= ingredient.unit %>
    </span>
    <span class="mr-2">
      <%= ingredient.name %>
    </span>
  </div>
<% end %>
