<div class="flex items-center py-1 border-b">
  <% if item.cover_image.attached? %>
    <div class="recipe__thumb">
      <%= image_tag item.cover_image.variant(:thumb) %>
    </div>
  <% end %>
  <div>
    <%= render "items/fullpath", item: item %>
    <% if item.ingredients.size > 0 %>
      <span class="text-sm text-gray-400">
        <%= item.ingredients.size %> cocktails
      </span>
    <% end %>
  </div>
</div>
