
<div class="my-4">
	<%= link_to "Items", :items %> / 
	My Wish List /
	<% unless params[:label].blank? %>
		labeled: <%= params[:label] %>
		-
		<%= link_to "Clear", label: nil %>
	<% end %>
</div>


<div class="my-4">
  <%= render @items %>
</div>

