<% @items.each do |item| %>
  <li class="list-group-item py-1 px-2 bg-white border border-b-0 last:border-b hover:bg-gray-100" role="option" data-autocomplete-value="<%= item.name %>"><%= item.name %></li>
<% end %>
